:root {
    --text: #e6e6e6;
    --footertext: #bbbbbb;
    --background: #292929;
    --primary: #dfa700;
    --navbg: #000000;
    --red: red;
    --white: white;
    --black: black;
    --color1: #b18c1b;
    --color2: #525252;
    --color3: #404040;
    --color4: #858585;
}