body {
    font-family: 'Roboto', sans-serif; 
    background-color: #e6e6e6;
    color: black;
    margin: 0;
    font-size: medium;
    word-wrap: break-word;
}

a:visited:not([href]), a:hover:not([href]), a:active:not([href]) {
    color: inherit;
  }

a {
    color: inherit;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    max-width: 100%;
	border: 0;
}

.menu {
    display: none;
}

.nav {
    background-color: transparent;
    display: block;
    flex-direction: row;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
    top: 0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 120%;
    text-align: left;
    transition: all 0.2s;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
}

.nb {
    padding: 8px;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

.nb-m {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
    margin-bottom: 2vh;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 2vh;
    display: block;
}

.nb:hover, .nb-m:hover, #exita1:hover {
    background-color: #4e4e4e17;
}

.action {
    margin-right: auto;
    margin-left: 5vh;
}

.navimg {
    width: 18vh;
    transition: all 0.2s;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.788)); 
    text-decoration: none;
 }

 .footimg {
    width: 18vh;
    transition: all 0.2s;
    text-decoration: none;
 }

 .nodec {
    text-decoration: none;
 }

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 14px);
  }
  
  @media only screen and (min-width: 601px) {
    .container {
      width: 95%;
    }
  }

  .banner {
    text-align: center;
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.4);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;

}

.intr {
    background-image: url(../images/banner.jpg) ;
}

.golden-days {
    background-image: url(../images/golden_days_banner.png) ;   
}

.ml {
    background-image: url(../images/memory_lane_banner.png) ;     
}

.mll {
    background-image: url(../images/memory_lane_banner2.png) ;       
}

.contain-in {
    text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
}

.texts {
    font-size: 3.14rem;
	font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
	transform: translateY(-50%);
}

.text- {
    font-size: 3.14rem;
	font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
}


.center {
    text-align: center;
}

.pad {
    padding-top: 50vh;
}

.text-small {
    font-size: 2rem;
	font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
}

.notesh {
    text-shadow: none;
}

@media only screen and (max-width: 700px) {
    .navimg {
        width: 12vh;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      .action {
          display: none;
      }

      .nav {
          padding-top: 0;
          padding-bottom: 0;
          font-size: 100%;
      }
      
      .menu {
		display: inline-block;
		font-size: 1.75rem;
        cursor: pointer;
        position: absolute;
        right: 5px;
        padding: 8px;
        padding-top: 12px;
  }

  .banner {
      background-position: center;
    }
}

.after {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

p {
font-size: 18px;
}

.buttonoutline {
    padding: 12px 30px;
    text-decoration: none;
    transition: all 0.2s;
    border: 2px solid white;
    font-size: 20px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
    font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
}

.dark {
    border: 2px solid black;
    color: black;
}

.buttonoutline:hover {
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.116);
}

footer {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 500;
    font-size: small;
}

.footext {
    margin-left: 3vh;
}

footer a {
    text-decoration: none;
}

footer .footext:hover {
    text-decoration: underline;
}

.bg {
    position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	background-color: transparent;
	z-index: 5;
	left: 0;
    top: 0;
    transition: all 0.2s;

}

.panel {
    position: absolute;
    width: 50%;
	background-color: #e6e6e6;
	padding: 20px;
	overflow: auto;
    border: none;
    right: -330px;
    transition: all 0.2s;
    height: 100%;
}

.mobile-actions {

}

.foot-link {
    display: none;
}

.cover-al {
    width: 40%;
}

@media only screen and (max-width: 700px) {
    footer {
        text-align: center;
    }

    .footlink {
        display: none;
    }

    .foot-link {
        display: inline-block;
    }

    .pad {
        padding-top: 30vh;
    }
}

#exita1 {
    display: inline-block;
	font-size: 1.75rem;
    cursor: pointer;
    position: absolute;
    right: 5px;
    padding: 8px;
    padding-top: 12px;
    top: 0;
    transition: all 0.2s;
}

.first {
    margin-top: 3vh;
}

.break {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.topped {
    margin-top: 12vh;
}