body {
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    font-size: large;
    word-wrap: break-word;
    transition: all 0.2s;
}

a:visited:not([href]),
a:hover:not([href]),
a:active:not([href]) {
    color: inherit;
}

.marbggs {
    margin-block-start: 0;
}

h1 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}


.right {
    text-align: right;
}

a {
    color: inherit;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

.card {
   padding: 2vh;
   background-color: var(--bgnavcol);
   color: var(--navcol);
   border-radius: 0.5vh;
}

.cards {
    transition: all 0.8s;
    border-radius: .5vh;
    background-color: var(--bgnavcol);
    width: 320px;
    height: 400px;
    padding: 2vh;
    box-sizing: border-box;
    margin: 0.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    text-decoration: none;
    color: white;
}

.cards, .bomarg {
    margin-bottom: 2vh;
}

.fontml {
    font-family: Gabriola
}

.centr {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.menu {
    display: none;
}

.nav {
    background-color: var(--bgnavcol);
    display: block;
    flex-direction: row;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
    top: 0;
    color: var(--navcol);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 120%;
    text-align: left;
    transition: all 0.2s;
    font-weight: bold;
}

.nb {
    padding: 8px;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

.nb-m {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
    margin-bottom: 2vh;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 2vh;
    display: block;
}

.nb:hover,
.nb-m:hover,
#exita1:hover {
    background-color: #4e4e4e17;
}

.action {
    margin-right: auto;
    margin-left: 5vh;
}

.navimg {
    width: 18vh;
    transition: all 0.2s;
    text-decoration: none;
}

.footimg {
    width: 18vh;
    transition: all 0.2s;
    text-decoration: none;
}

.nodec {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 60px);
    display: block;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

.banner {
    text-align: center;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.4);
    color: var(--banncol);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    position: relative;
}

.leswi {
    width: 100%;
    min-height: 40vh;
}

.mainimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vh;
}

.intr {
    background-image: url(../images/banner.jpg);
}

.golden-days {
    background-image: url(../images/golden_days_banner.png);
}

.ml {
    background-image: url(../images/memory_lane_banner.png);
}

.mll {
    background-image: url(../images/memory_lane_banner2.png);
}

.mlde {
    background-image: url(../images/memory_lane_banner3.png);
}

.delx {
    background-image: url(../images/extba.png);
}

.urb-gro {
    background-image: url(../images/urban_groove_banner.png);
}

.ls {
    background-image: url(../images/life_banner.png);
}

.intr {
    background-image: url(../images/photos/photo4.png);
}

.undep {
    background-image: url(../images/undertow_ep.png);
}

.undet {
    background-image: url(../images/undertow_ep2.png);
}

.ope {
    background-image: url(../images/wheel.png);
}

.lifepredeluxe {
    background-image: url(../images/life_deluxe_04.png);
}

.lifedeluxe {
    background-image: url(../images/life_reissue_banner.png);
}


.photogal {
    max-width: 100%;
    margin-bottom: 2vh;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.4);
}

.pros {
    max-width: 70%;
}

.undert {
    background-image: url(../images/undertow.png);
}

.wheel {
    background-image: url(../images/wheel.png);
}

.contain-in {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
}

.texts {
    font-size: 3.14rem;
    font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
    transform: translateY(-50%);
}

.text- {
    font-size: 3.14rem;
    font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.center {
    text-align: center;
}

.pad {
    padding-top: 50vh;
}

.text-small {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.788);
}

.notesh {
    text-shadow: none;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    display: inline-block;
    margin-right: 2vh;
}

.cover-al {
    width: 40%;
}

@media only screen and (max-width: 700px) {
    .cover-al {
        width: 70%;
    }
    .column {
        margin-right: 0;
    }
    .row {
        display: block;
    }
    .photogal {
        width: 100%;
    }
    .pros {
        max-width: 100%;
        width: 100%;
    }
    .navimg {
        width: 12vh;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .action {
        display: none;
    }
    .nav {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 100%;
    }
    .menu {
        display: inline-block;
        font-size: 1.75rem;
        cursor: pointer;
        position: absolute;
        right: 5px;
        padding: 8px;
        padding-top: 12px;
    }
    .banner {
        background-position: center;
    }
    .mbcent {
        text-align: center;
    }

    .right {
        text-align: left;
    }
}

.after {
    margin-top: 2vh;
    margin-bottom: 2vh;
    position: relative;
}

.afters {
    margin-top: 4vh;
    margin-bottom: 4vh;
    position: relative;
}

p {
    font-size: 18px;
}

.featureh {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.eh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: white;
}

.feacont {
    margin: .75rem 18px 1.5rem 0;
    display: inline-block;
    vertical-align: middle;
    color: var(--text);
}

.inli {
    display: inline;
}

.buttonoutline {
    display: inline-block;
    padding: 12px 30px;
    transition: all 0.2s;
    border: 2px solid var(--text);
    border-radius: .5vh;
    text-decoration: none;
    color: var(--text);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    font-weight: 600;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.footbut {
    margin-right: 1.3vh;
}

.banner .buttonoutline {
    border: 2px solid var(--banncol);
    color: var(--banncol);
}

.marginbu {
    margin: 0 2px 0 2px;
}

.buttonoutline .fa {
    font-size: 2.5rem;
}

.dark {
    color: black;
}

.block {
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.buttonoutline:hover {
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.116);
}

footer {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 500;
    font-size: small;
}

.marg {
    text-shadow: none;
    box-shadow: none;
}

.footext {
    margin-left: 3vh;
}

footer a {
    text-decoration: none;
}

footer .footext:hover {
    text-decoration: underline;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: transparent;
    z-index: 5;
    left: 0;
    top: 0;
    transition: all 0.2s;
}

.panel {
    position: absolute;
    width: 50%;
    background-color: var(--bgnavcol);
    padding: 20px;
    overflow: auto;
    border: none;
    right: -330px;
    transition: all 0.2s;
    height: 100%;
}

.tri {
    max-width: 500px;
}

.foot-link {
    display: none;
}

@media only screen and (max-width: 700px) {
    .marginbu {
        margin: 2px 0 2px 0;
    }
    footer {
        text-align: center;
    }
    .footlink {
        display: none;
    }
    .foot-link {
        display: inline-block;
    }
    .pad {
        padding-top: 30vh;
    }
    .tri {
        max-width: 60%;
    }
}

#exita1 {
    display: inline-block;
    font-size: 1.75rem;
    cursor: pointer;
    position: absolute;
    right: 5px;
    padding: 8px;
    padding-top: 12px;
    top: 0;
    transition: all 0.2s;
}

.first {
    margin-top: 3vh;
}

.break {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.topped {
    margin-top: 12vh;
}

.nosh {
    box-shadow: none;
}

.ava {
	background: #ccc url("../images/alluthus_.png") no-repeat center center;
	background-size: cover;
	margin: -7rem auto auto auto;
	box-sizing: border-box;
	border-radius: 50%;
	height: 225px;
	max-height: 225px;
	max-width: 225px;
	border: 3px solid var(--bgnavcol);
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.mainni {
    display: flex;
    flex-direction: row;
}

.mainim {
    height: 100px;
    max-width: 100vw;
    margin: 1.2vh;
}

.underep {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #263143),
    url('../images/undertow_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

.mlcar {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #2d5181),
    url('../images/memory_lane_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

.aurora {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #2c5a34),
    url('../images/aurora_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

.sti {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #2363f4),
    url('../images/stibarc_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.self-alb {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #5b7cba),
    url('../images/self_titled_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.gals {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #dd56be),
    url('../images/photos_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.golday {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #6d6d6d),
    url('../images/golden_days_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.recordssti {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #7dabb9),
    url('../images/records_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.rinfi {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #988ef0),
    url('../images/infinite_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.lifest {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #5a61bb),
    url('../images/lifest_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.fnova {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #ff5616),
    url('../images/fiber_nova_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.lifegame {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #305b31),
    url('../images/lifegame_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.urbgroove {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #988ef0),
    url('../images/urban_groove_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.firefly {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #204d34),
    url('../images/firefly_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.tranquility {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #0f1426),
    url('../images/tranquility_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.lifereissue {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #265226),
    url('../images/life_reissue_card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%; 
}

.cards:hover {
    background-size: 130%;
    cursor: pointer;
    color: white;
}

.wrapper {
    overflow: hidden; 
    height: 300px;
}

::-webkit-scrollbar {
    width: 1.2vh;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1.3vh;
    background: var(--scrollbg);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrolltra);
    border-radius: 1.3vh;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollhov);
  }

  .nopointer {
    cursor: default;
}

.nopointer:hover {
    cursor: default;
}

.imgfade{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.featuredph {
    text-align: center;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.4);
    color: var(--banncol);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    position: relative;
}